*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*aqui fala que o tamanho da caixa vai contabilizar de borda a borda*/
    background-color: #111111;
    color: white;
    font-family: 'Segoe UI';
}

a{
    text-decoration: none;
}